<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

{% set home_url = resolve_front_url("home") %}
{% set home_url_name = "Taiga" %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="viewport" content="initial-scale=1.0">
    <!-- disable auto telephone linking in iOS -->
    <meta name="format-detection" content="telephone=no">

    <title>Taiga</title>
    <style type="text/css">

        /* Resets: see reset.css for details */
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {margin:0; padding:0;}
        table {border-spacing:0;}
        table td {border-collapse:collapse;}

        /* Constrain email width for small screens */
        @media screen and (max-width: 600px) {
            table[class="container"] {
                width: 95% !important;
            }
        }

        /* Give content more room on mobile */
        @media screen and (max-width: 480px) {
            td[class="container-padding"] {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
        }


        /* Styles for forcing columns to rows */
        @media only screen and (max-width : 600px) {

            /* force container columns to (horizontal) blocks */
            td[class="force-col"] {
                display: block;
                padding-right: 0 !important;
            }
            table[class="col-3"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 100% !important;

                /* change left/right padding and margins to top/bottom ones */
                margin-bottom: 12px;
                padding-bottom: 12px;
                border-bottom: 1px solid #eee;
            }

            /* remove bottom border for last column/row */
            table[id="last-col-3"] {
                border-bottom: none !important;
                margin-bottom: 0;
            }

            /* align images right and shrink them a bit */
            img[class="col-3-img"] {
                float: right;
                margin-left: 6px;
                max-width: 130px;
            }
        }

    </style>
</head>
<body style="margin:20px auto; padding:10px 0;" bgcolor="#eee" leftmargin="0" topmargin="0"
      marginwidth="0" marginheight="0">
<!-- background -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#eee">
    <tr>
        <td align="center" valign="top" bgcolor="#eee" style="background-color: #eee;">

            <!-- container -->
            <table border="0" width="600" cellpadding="0" cellspacing="0" class="container"
                   bgcolor="#f1f1f1">
                <thead>
                    <tr>
                        <th border="0" class="container-padding" bgcolor="#669933"
                            style="background-color: #669900; margin-top: 20px;
                                   padding: 20px; font-size: 13px; line-height: 20px;
                                   font-family: Arial, Helvetica, sans-serif;
                                   color: #FFF; border-bottom: 5px solid #333;" align="left">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0"
                                   class="table-header">
                                <tr>
                                    <td>
                                        <a href="{{ home_url }}"
                                           title="{{ home_url_name }}">
                                           <img src="{{ static("emails/email-logo.png") }}" alt="Taiga" height="32" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td border="0" style="background: #FFFFFF; padding: 20px;
                                              font-size: 14px; line-height: 20px;
                                              margin-bottom: 180px;
                                              font-family: Arial, Helvetica, sans-serif;
                                              color: #6c6c6c;" align="left">
                        <!-- BODY -->
                        {% block body %}{% endblock %}
                        {#
                            <table border="0" width="100%" cellpadding="0" cellspacing="0"
                                   class="table-body">
                                <tr>
                                    <td>
                                        <h1>{{ project_name }}</h1>
                                        <h2>{{ type }}: {{ subject }}</h2>
                                        <p>Updated fields by <b>{{ user.get_full_name() }}</b></p>
                                        {% block body_changes %}
                                        <ul>
                                            <li><b>severity</b>: from "10" to "project 2 - Normal".</li>
                                        </ul>
                                        {% endblock %}
                                    </td>
                                </tr>
                            </table>
                        #}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td border="0" style="background-color: #fff; padding: 0 20px;
                                              font-size: 14px; line-height: 20px;
                                              font-family: Arial, Helvetica, sans-serif;
                                              color: #CCC;" align="left">
                        {% block footer %}
                        {#
                            <p style="padding: 10px; border-top: 1px solid #eee;">
                                More info at:
                                <a href="{{ final_url }}" style="color: #666;">
                                    {{ final_url_name }}
                                </a>
                            </p>
                        #}
                        {% endblock %}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
