# -*- coding: utf-8 -*-
from .development import *

#DATABASES = {
#    'default': {
#        'ENGINE': 'django.db.backends.postgresql_psycopg2',
#        'NAME': 'greenmine',
#        'USER': 'greenmine',
#        'PASSWORD': '',
#        'HOST': '',
#        'PORT': '',
#    }
#}
#
#HOST="http://greenmine.projects.kaleidos.net"
#
#MEDIA_ROOT = '/home/greenmine/media'
#STATIC_ROOT = '/home/greenmine/static'

#EMAIL_USE_TLS = False
#EMAIL_HOST = 'localhost'
#EMAIL_HOST_USER = 'user'
#EMAIL_HOST_PASSWORD = 'password'
#EMAIL_PORT = 25
#DEFAULT_FROM_EMAIL = "john@doe.com"

# GMAIL SETTINGS EXAMPLE
#EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
#EMAIL_USE_TLS = True
#EMAIL_HOST = 'smtp.gmail.com'
#EMAIL_HOST_USER = 'youremail@gmail.com'
#EMAIL_HOST_PASSWORD = 'yourpassword'
#EMAIL_PORT = 587
