**/__pycache__
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.ctags
.dockerignore
.env
.git
.gitignore
.pytest_cache
.tox
.travis.yml
.tx
.venv
AUTHORS.rst
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
DCOLICENSE
docker/Dockerfile
ISSUE_TEMPLATE.md
README.md
__pycache__
env
local.py
locale
media
pytest.ini
regenerate.sh
requirements-devel.in
requirements-devel.txt
requirements.in
requirements-contribs.in
scripts
setup.cfg
static
tests
thankyou.md
tox.ini
venv
.direnv
.envrc
