.*.sw*
.#*
*.log
taiga/search
settings/local.py
settings/celery_local.py
database.sqlite
logs
media
static
!taiga/base/static
*.pyc
*.mo
.venv
.coverage
.cache
.\#*
.project
.idea
.env
.envrc
.direnv
settings/config.py
celerybeat-schedule
