#git+https://github.com/tomchristie/django-rest-framework.git@2.4.0

djangorestframework==2.3.13
Django==1.6.5
South==0.8.4
django-picklefield==0.3.1
django-sampledatahelper==0.2.1
gunicorn==18.0
psycopg2==2.5.3
pytz==2014.4
six==1.6.1
djmail==0.7
django-pgjson==0.1.2
djorm-pgarray==1.0
django-jinja==1.0.1
jinja2==2.7.2
pygments==1.6rc1
django-sites==0.8
Markdown==2.4.1
fn==0.2.13
diff-match-patch==20121119
requests==2.3.0

# Comment it if you are using python >= 3.4
enum34==1.0

django-reversion==1.8.1
easy-thumbnails==2.0
