git+https://github.com/tomchristie/django-rest-framework.git@2.4.0
git+https://github.com/etianen/django-reversion.git@django-1.6

Django==1.6.0
South==0.8.3
anyjson==0.3.3
Werkzeug==0.9.4
celery==3.0.24
django-celery==3.0.23
django-filter==0.7
django-grappelli==2.4.6
django-picklefield==0.3.0
django-sampledatahelper==0.2.1
gunicorn>=17.5
psycopg2==2.5.1
pytz>=2013d
six>=1.4.1
djmail>=0.4
django-jinja>=0.21
jinja2==2.7.1
pygments>=1.6
