-r requirements.txt

factory_boy==2.4.1
py==1.4.23
pytest==2.6.1
pytest-django==2.6.2
pytest-pythonpath==0.3

coverage==3.7.1
coveralls==0.4.2
django-testclient-extensions==0.1.4
django-slowdown==0.0.1
