djangorestframework==2.3.13
Django==1.7
django-picklefield==0.3.1
django-sampledatahelper==0.2.2
gunicorn==18.0
psycopg2==2.5.4
pillow==2.5.3
pytz==2014.4
six==1.8.0
amqp==1.4.6
djmail==0.9
django-pgjson==0.2.0
djorm-pgarray==1.0.4
django-jinja==1.0.4
jinja2==2.7.2
pygments==1.6
django-sites==0.8
Markdown==2.4.1
fn==0.2.13
diff-match-patch==20121119
requests==2.4.1
easy-thumbnails==2.1
celery==3.1.12
redis==2.10.3
Unidecode==0.04.16

# Comment it if you are using python >= 3.4
enum34==1.0
