git+https://github.com/taigaio/taiga-contrib-github-auth.git@6.8.0#egg=taiga-contrib-github-auth&subdirectory=back
git+https://github.com/taigaio/taiga-contrib-gitlab-auth.git@6.8.0#egg=taiga-contrib-gitlab-auth-official&subdirectory=back
git+https://github.com/taigaio/taiga-contrib-slack.git@6.8.0#egg=taiga-contrib-slack&subdirectory=back
git+https://github.com/taigaio/taiga-contrib-protected.git@6.8.0#egg=taiga-contrib-protected
