Hello {{ user.get_full_name() }},

you can recover your password by going to the following url:

{{ resolve_front_url('change-password', user.token) }}

You can ignore this message if you did not request.

Regards

--
The Greenmine Team
