Hello {{ user.get_full_name() }},

Your project dump has been correctly generated. You can download it from here:

{{ url }}

This file will be deleted on {{ deletion_date|date("r") }}.

The Taiga Team
