{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% trans signature=sr("signature"), user=user.get_full_name(), project=project.name, url=url, deletion_date=deletion_date|date("SHORT_DATETIME_FORMAT") + deletion_date|date(" T") %}
Hello {{ user }},

Your dump from project {{ project }} has been correctly generated. You can download it here:

{{ url }}

This file will be deleted on {{ deletion_date }}.

---
{{ signature }}
{% endtrans %}
