{% trans user=user.get_full_name(), project=project.name, url=url, deletion_date=deletion_date|date("SHORT_DATETIME_FORMAT") + deletion_date|date(" T") %}
Hello {{ user }},

Your dump from project {{ project }} has been correctly generated. You can download it here:

{{ url }}

This file will be deleted on {{ deletion_date }}.

---
The Taiga Team
{% endtrans %}
