{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% trans signature=sr("signature"), user=user.get_full_name(), error_message=error_message, support_email=sr("support.email"), project=project.name %}
Hello {{ user }},

{{ error_message }}
Your project {{ project }} has not been exported correctly.

The Taiga system administrators have been informed.

Please, try it again or contact with the support team at {{ support_email }}

---
{{ signature }}
{% endtrans %}
