{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans user=user.get_full_name(), error_message=error_message, support_email=sr("support.email") %}
    <h1>{{ error_message }}</h1>
    <p>Hello {{ user }},</p>
    <p>Your project has not been importer correctly.</p>
    <p>The Taiga system administrators have been informed.<br/> Please, try it again or contact with the support team at
       <a href="mailto:{{ support_email }}" title="Support email" style="color: #699b05">{{ support_email }}</a></p>
    <p><small>The Taiga Team</small></p>
    {% endtrans %}
{% endblock %}
