{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans signature=sr("signature"), user=user.get_full_name(), error_message=error_message, support_email=sr("support.email"), product_name=sr("product_name") %}
    <h1>{{ error_message }}</h1>
    <p>Hello {{ user }},</p>
    <p>Your project has not been imported correctly.</p>
    <p>The {{ product_name }} system administrators have been informed.<br/> Please, try it again or contact with the support team at
       <a href="mailto:{{ support_email }}" title="Support email" style="color: #699b05">{{ support_email }}</a></p>
    <p><small>{{ signature }}</small></p>
    <h2>Error details</h2>
    <pre>{{ details }}</pre>
    {% endtrans %}

{% endblock %}
