{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% trans signature=sr("signature"), user=user.get_full_name(), url=resolve_front_url("project", project.slug), project=project.name %}
Hello {{ user }},

Your project dump has been correctly imported.

You can see the project {{ project }} here:

{{ url }}

---
{{ signature }}
{% endtrans %}
