{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% trans signature=sr("signature"), full_name=user.get_full_name(), url=resolve_front_url('change-email', user.email_token) %}
Hello {{ full_name }}, please confirm your email

{{ url }}

You can ignore this message if you did not request.

---
{{ signature }}
{% endtrans %}
