{% extends "emails/base.jinja" %}

{% set final_url = resolve_front_url("change-password", user.token) %}
{% set final_url_name = "Taiga - Change password" %}

{% block body %}
    <h1>Recover your password</h1>
    <p>Hello {{ user.get_full_name() }}, <br /> you asked to recover your password</p>
    <a class="button" href="{{ final_url }}" title="Recover your password">Recover your password</a>
    <p>You can ignore this message if you did not request.</p>
    <p><small>The Taiga Team</small></p>
{% endblock %}

{% block footer %}
    <em>Copyright © 2014 Taiga Agile, LLC, All rights reserved.</em>
    <br>
    <strong>Contact us:</strong>
    <br>
    <strong>Support:</strong>
    <a href="mailto:support@taiga.io" title="Taiga Support">support@taiga.io</a>
    <br>
    <strong>Our mailing address is:</strong>
    <a href="https://groups.google.com/forum/#!forum/taigaio" title="Taiga mailing list">https://groups.google.com/forum/#!forum/taigaio</a>
{% endblock %}
