{% trans signature=sr("signature"), full_name=user.get_full_name(), url=resolve_front_url('change-password', user.token) %}
Hello {{ full_name }}, you asked to recover your password

{{ url }}

You can ignore this message if you did not request.

---
{{ signature }}
{% endtrans %}
