{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% trans product_name=sr("product_name") %}
Thank you for registering in {{ product_name }}

We're thrilled you've joined our growing community of professionals revolutionizing their way of working and hope you enjoy it.
{% endtrans %}

{% if not user.verified_email %}
{% trans url=resolve_front_url("verify-email", user.email_token) %}
Please confirm your email: {{ url }}
{% endtrans %}
{% endif %}

{% trans signature=sr("signature"), support_email=sr("support.email") %}
Have a question? Give us a nudge if you ever need a helping hand, we're at {{ support_email }}.
--
{{ signature }}
{% endtrans %}
{% trans url=resolve_front_url('cancel-account', cancel_token) %}
You may remove your account from this service: {{ url }}
{% endtrans %}
