{% extends "emails/hero.jinja" %}

{% block body %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="table-body">
    <tr>
        <td>
            <h2>Thank you for registering in Taiga</h2>
            <h3>We hope you enjoy it</h3>
            <p>We built Taiga because we wanted the project management tool that sits open on our computers all day long, to serve as a continued reminder of why we love to collaborate, code and design.</p>
            <p>We built it to be beautiful, elegant, simple to use and fun - without forsaking flexibility and power.</p>
            <small>The taiga Team</small>
        </td>
    </tr>
</table>
{% endblock %}

{% block footer %}
<em>Copyright © 2014 Taiga Agile, LLC, All rights reserved.</em>
<br>
<strong>Contact us:</strong>
<br>
<strong>Support:</strong>
<a href="mailto:support@taiga.io" title="Taiga Support">support@taiga.io</a>
<br>
<strong>Our mailing list is:</strong>
<a href="https://groups.google.com/forum/#!forum/taigaio" title="Taiga mailing list">https://groups.google.com/forum/#!forum/taigaio</a>
<br />
<br />
<strong>You may remove your account from this service</strong> <a href="{{ resolve_front_url('cancel-account', cancel_token) }}" title="Remove your account">clicking here</a>
{% endblock %}
