Welcome to Taiga, an Open Source, Agile Project Management Tool

You, or someone you know has invited you to Taiga. You may remove your account from this service by clicking here:

{{ resolve_front_url('cancel-account', cancel_token) }}

We built Taiga because we wanted the project management tool that sits open on our computers all day long, to serve as a continued reminder of why we love to collaborate, code and design. We built it to be beautiful, elegant, simple to use and fun - without forsaking flexibility and power. We named it Taiga after the forest biome, because like its namesake, our tool is at the center of an ecosystem - your team, your projects. A great project management tool also helps you see the forest for the trees. We couldn't think of  a more appropriate name for what we've done.

We hope you enjoy it.

--
The Taiga development team.
