{% trans %}
Thank you for registering in Taiga

We hope you enjoy it

We built Taiga because we wanted the project management tool that sits open on our computers all day long, to serve as a continued reminder of why we love to collaborate, code and design.

We built it to be beautiful, elegant, simple to use and fun - without forsaking flexibility and power.

--
The taiga Team
{% endtrans %}
{% trans url=resolve_front_url('cancel-account', cancel_token) %}
You may remove your account from this service: {{ url }}
{% endtrans %}
