{% extends "emails/hero-body-html.jinja" %}

{% block body %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="table-body">
    <tr>
        <td>
        {% if not user.verified_email %}
            {% trans url=resolve_front_url("verify-email", user.email_token) %}
            <p>Please confirm your email</p>
            <a class="button" href="{{ url }}" title="Confirm email">Confirm email</a>
            {% endtrans %}
        {% endif %}
        {% trans signature=sr("signature"), product_name=sr("product_name"), support_email=sr("support.email") %}
            <h2>Thank you for registering in {{ product_name }}</h2>
            <p>We're thrilled you've joined our growing community of professionals revolutionizing their way of working and hope you enjoy it.</p>
            <p>Have a question? Give us a nudge if you ever need a helping hand, we're at {{ support_email }}.</p>
            <p><small>{{ signature }}</small></p>
        </td>
        {% endtrans %}
    </tr>
</table>
{% endblock %}

{% block footer %}
    {{ super() }}
    <br />
    <br />
    {% trans url=resolve_front_url('cancel-account', cancel_token) %}
    <strong>You may remove your account from this service</strong> <a href="{{ url }}" title="Remove your account" style="color: #9dce0a">clicking here</a>
    {% endtrans %}
{% endblock %}
