{% extends "emails/base-body-html.jinja" %}

{% block body %}
    <p>
    {% if photo_url %}
        <a href="{{ user_profile_url }}" title="{{ full_name }}" >
            <img style="vertical-align:middle;" src="{{ photo_url }}" alt="{{ full_name }}" width="60"/>
        </a>
    {% endif %}
    {% trans full_name=full_name, user_profile_url=user_profile_url, project_name=project_name %}
        <a style="font-weight: bold;text-decoration:none;color:#222;" href="{{ user_profile_url }}" title="{{ full_name }}">{{ full_name }}</a> has written to {{ project_name }}
    {% endtrans %}
    </p>

    <p>{{ comment }}</p>

    <hr>

    <p>
    {% trans project_name=project_name, project_settings_url=project_settings_url %}
        You are receiving this message because you are listed as administrator of the project titled {{ project_name }}. If you don't want members of the Taiga community contacting your project, please <a href="{{ project_settings_url }}">update your project settings</a> to prevent such contacts. Regular communications amongst members of the project will not be affected.
    {% endtrans %}
    </p>

    {% trans signature=sr("signature") %}
        <p><small>{{ signature }}</small></p>
    {% endtrans %}
{% endblock %}
