{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% trans full_name=full_name|safe, project_name=project_name|safe %}
[Taiga] {{ full_name }} has sent a message to the project {{ project_name }}
{% endtrans %}
