{% trans signature=sr("signature"), user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject %}
Epic deleted
Hello {{ user }}, {{ changer }} has deleted a epic on {{ project }}
Epic #{{ ref }} {{ subject }}

---
{{ signature }}
{% endtrans %}
