{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject, url=resolve_front_url("epic", project.slug, snapshot.ref) %}
New epic created
Hello {{ user }}, {{ changer }} has created a new epic on {{ project }}
See epic #{{ ref }} {{ subject }} at {{ url }}

---
The Taiga Team
{% endtrans %}
