{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, page=snapshot.slug %}
    <h1>Wiki page deleted</h1>
    <p>Hello {{ user }},<br />{{ changer }} has deleted a wiki page on {{ project }}</p>
    <p>Wiki page {{ page }}</p>
    <p><small>The Taiga Team</small></p>
    {% endtrans %}
{% endblock %}
