{% extends "emails/updates-body-text.jinja" %}
{% block head %}
{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, page=snapshot.slug, url=resolve_front_url("wiki", project.slug, snapshot.slug) %}
Wiki Page updated on {{ project }}

Hello {{ user }}, {{ changer }} has updated a wiki page:

{{ page }}

See wiki page at {{ url }}
{% endtrans %}
{% endblock %}
