{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, page=snapshot.slug, url=resolve_front_url("wiki", project.slug, snapshot.slug) %}
New wiki page created

Hello {{ user }}, {{ changer }} has created a new wiki page on {{ project }}

See wiki page {{ page }} at {{ url }}

---
The Taiga Team
{% endtrans %}
