{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, name=snapshot.name %}
Sprint deleted
Hello {{ user }}, {{ changer }} has deleted an sprint on {{ project }}
Sprint {{ name }}

---
The Taiga Team
{% endtrans %}
