{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans user=user.get_full_name()|safe, changer=changer.get_full_name()|safe, project=project.name|safe, ref=snapshot.ref, name=snapshot.name|safe %}
    <h1>Sprint deleted</h1>
    <p>Hello {{ user }},<br />{{ changer }} has deleted an sprint on {{ project }}</p>
    <p>Sprint {{ name }}</p>
    <p><small>The Taiga Team</small></p>
    {% endtrans %}
{% endblock %}
