{% set final_url = resolve_front_url("taskboard", project.slug, snapshot.slug) %}
{% set final_url_name = "Taiga - View milestone #{0}".format(snapshot.slug) %}

- Project: {{ project.name }}
- Milestone #{{ snapshot.slug }}: {{ snapshot.name }}
- Created by {{ changer.get_full_name() }}

** More info at {{ final_url_name }} ({{ final_url }}) **
