{% extends "emails/updates-body-text.jinja" %}
{% block head %}
{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject, url=resolve_front_url("task", project.slug, snapshot.ref) %}
Task updated on {{ project }}

Hello {{ user }}, {{ changer }} has updated a task:

#{{ ref }} {{ subject }}

See task at {{ url }}
{% endtrans %}
{% endblock %}
