{% extends "emails/updates-body-html.jinja" %}

{% block head %}
    {% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject, url=resolve_front_url("task", project.slug, snapshot.ref) %}
    <h1>Task updated on {{ project }}</h1>
    <p>Hello {{ user }}, <br> {{ changer }} has updated a task:</p>
    <p><strong>#{{ ref }} {{ subject }}</strong></p>
    <a class="button" href="{{ url }}" title="See Task #{{ ref }}: {{ subject }}">See task</a>
    {% endtrans %}
{% endblock %}
