{% set final_url = resolve_front_url("task", project.slug, snapshot.ref) %}
{% set final_url_name = "Taiga - View task #{0}".format(snapshot.ref) %}

- Project: {{ project.name }}
- Task #{{ snapshot.ref }}: {{ snapshot.subject }}
- Updated by {{ changer.get_full_name() }}
{% for entry in history_entries%}
    {% if entry.comment %}
    Comment: {{ entry.comment|linebreaksbr }}
    {% endif %}
    {% set changed_fields = entry.values_diff %}
    {% if changed_fields %}
        {% include "emails/includes/fields_diff-text.jinja" %}
    {% endif %}
{% endfor %}

** More info at {{ final_url_name }} ({{ final_url }}) **
