{% trans user=user.get_full_name()|safe,
         changer=changer.get_full_name()|safe,
         project=project.name|safe,
         ref=snapshot.ref,
         subject=snapshot.subject|safe %}
Task deleted
Hello {{ user }}, {{ changer }} has deleted a task on {{ project }}
Task #{{ ref }} {{ subject }}

---
The Taiga Team
{% endtrans %}
