{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject %}
Task deleted
Hello {{ user }}, {{ changer }} has deleted a task on {{ project }}
Task #{{ ref }} {{ subject }}

---
The Taiga Team
{% endtrans %}
