{% extends "emails/hero-body-html.jinja" %}

{% block body %}
    {% trans full_name=membership.invited_by.get_full_name(),
             project=membership.project %}
    <h2>You, or someone you know, has invited you to Taiga</h2>
    <p>Hi! {{ full_name }} has sent you an invitation to join a project called {{ project }}  which is being managed on Taiga, a Free, open Source Agile Project Management Tool.</p>
    {% endtrans %}

    {% if membership.invitation_extra_text %}
        {% trans extra=membership.invitation_extra_text|linebreaksbr %}
    <p>And now a few words from the jolly good fellow or sistren who thought so kindly as to invite you:</p>
    <h3>{{ extra }}</h3>
        {% endtrans %}
    {% endif %}

    <a class="button" href="{{ resolve_front_url("invitation", membership.token) }}"
       title="{{ _("Accept your invitation to Taiga") }}">{{ _("Accept your invitation") }}</a>
    <p><small>{{ _("The Taiga Team") }}</small></p>
{% endblock %}
