{% set final_url = resolve_front_url("project", membership.project.slug) %}

Hi {{ membership.user.get_full_name() }},

you have been added to the project '{{ membership.project }}' ({{ final_url }}).


** More info at ({{ final_url }}) **
