{% extends "emails/hero-body-html.jinja" %}

{% if membership.invited_by %}
    {% set sender_full_name=membership.invited_by.get_full_name() %}
{% else %}
    {% set sender_full_name=_("someone") %}
{% endif %}


{% block body %}
    {% trans full_name=sender_full_name, project=membership.project %}
    <h2>You have been invited to Taiga!</h2>
<p>Hi! {{ full_name }} has sent you an invitation to join project <em>{{ project }}</em> in Taiga.</br> Taiga is a Free, open Source Agile Project Management Tool.</p>
    {% endtrans %}

    {% if membership.invitation_extra_text %}
        {% trans extra=membership.invitation_extra_text|linebreaksbr %}
    <p><small>And now a few words from the jolly good fellow or sistren<br/> who thought so kindly as to invite you</small></p>
    <p><strong>{{ extra }}</strong></p>
        {% endtrans %}
    {% endif %}

    <a class="button" href="{{ resolve_front_url("invitation", membership.token) }}"
       title="{{ _("Accept your invitation to Taiga") }}">{{ _("Accept your invitation") }}</a>
    <p><small>{{ _("The Taiga Team") }}</small></p>
{% endblock %}
