{% set final_url = resolve_front_url("project", membership.project.slug) %}

You have been added to a project
Hello {{ membership.user.get_full_name() }},you have been added to the project {{ membership.project }}

See project at ({{ final_url }})
