{% if membership.invited_by %}
    {% set sender_full_name=membership.invited_by.get_full_name() %}
{% else %}
    {% set sender_full_name=_("someone") %}
{% endif %}
{% trans full_name=sender_full_name, project=membership.project, product_name=sr("product_name") %}
You, or someone you know, has invited you to {{ product_name }}

Hi! {{ full_name }} has sent you an invitation to join a project called {{ project }} in {{ product_name }}.
Taiga is an Open Source Agile Project Management Tool. There is no cost for you to be a Taiga user.

{% endtrans %}
{% if membership.invitation_extra_text %}
    {% trans extra=membership.invitation_extra_text %}
And now a few words from the jolly good fellow or sistren who thought so kindly as to invite you:

{{ extra }}
    {% endtrans %}
{% endif %}
{{ _("Accept your invitation to Taiga following this link:") }}
{{ resolve_front_url("invitation", membership.token) }}

{% trans signature=sr("signature") %}
---
{{ signature }}
{% endtrans %}
