{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans old_owner_name=old_owner.get_full_name(), new_owner_name=new_owner.get_full_name(), project_name=project.name %}
        <p>Hi {{old_owner_name}},</p>
        <p>{{ new_owner_name}} has accepted your offer and will become the new project owner of "{{project_name}}".</p>
    {% endtrans %}

    {% if reason %}
        {% trans new_owner_name=new_owner.get_full_name()%}<p>{{ new_owner_name }} says:</p>{% endtrans %}
        <p>{{reason}}</p>
    {% endif %}

    {% trans %}
        <p>From now on, your new status for this project will be "admin".</p>
    {% endtrans %}

    {% trans signature=sr("signature") %}
        <p><small>{{ signature }}</small></p>
    {% endtrans %}
{% endblock %}
