{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans owner_name=project.owner.get_full_name(), requester_name=requester.get_full_name(), project_name=project.name %}
        <p>Hi {{owner_name}},</p>
        <p>{{ requester_name }} has requested to become the project owner of "{{project_name}}".</p>
    {% endtrans %}

    {% trans %}
        <p>Please, click on "Continue" if you would like to start the project transfer from the administration panel.</p>
    {% endtrans %}

    <a class="button" href="{{ resolve_front_url("project-admin", project.slug) }}"
       title="{% trans %}Continue{% endtrans %}">{% trans %}Continue{% endtrans %}</a>

    {% trans signature=sr("signature") %}
    <p><small>{{ signature }}</small></p>
    {% endtrans %}
{% endblock %}
