{% trans user=user.get_full_name()|safe,
         changer=changer.get_full_name()|safe,
         project=project.name|safe,
         ref=snapshot.ref,
         subject=snapshot.subject|safe,
         url=resolve_front_url("userstory", project.slug, snapshot.ref) %}
New user story created
Hello {{ user }}, {{ changer }} has created a new user story on {{ project }}
See user story #{{ ref }} {{ subject }} at {{ url }}

---
The Taiga Team
{% endtrans %}
