{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans signature=sr("signature"), user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject %}
    <h1>User Story deleted on {{ project }}</h1>
    <p>Hello {{ user }},<br />{{ changer }} has deleted a user story:</p>
    <p><strong>#{{ ref }} {{ subject }}</strong></p>
    <p><small>{{ signature }}</small></p>
    {% endtrans %}
{% endblock %}

