{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% extends "emails/updates-body-text.jinja" %}
{% block head %}
{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name,ref=snapshot.ref, subject=snapshot.subject, url=resolve_front_url("userstory", project.slug, snapshot.ref) %}
User story updated on {{ project }}

Hello {{ user }}, {{ changer }} has updated a user story:

#{{ ref }} {{ subject }}

See user story at {{ url }}
{% endtrans %}
{% endblock %}
