{% extends "emails/base.jinja" %}

{% set final_url = resolve_front_url("userstory", project.slug, snapshot.ref) %}
{% set final_url_name = "Taiga - View US #{0}".format(snapshot.ref) %}

{% block body %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="table-body">
    <tr>
        <td>
            <h1>Project: {{ project.name }}</h1>
            <h2>US #{{ snapshot.ref }}: {{ snapshot.subject }}</h2>
            <p>Created by <b>{{ changer.get_full_name() }}</b>.</p>
        </td>
    </tr>
</table>
{% endblock %}
{% block footer %}
<p style="padding: 10px; border-top: 1px solid #eee;">
    More info at: <a href="{{ final_url }}" style="color: #666;">{{ final_url_name }}</a>
</p>
{% endblock %}
