{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% extends "emails/updates-body-html.jinja" %}

{% block head %}
    {% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject, url=resolve_front_url("userstory", project.slug, snapshot.ref) %}
    <h1>User Story updated on {{ project }}</h1>
    <p>Hello {{ user }}, <br> {{ changer }} has updated a user story:</p>
    <p><strong>#{{ ref }} {{ subject }}</strong></p>
    <a class="button" href="{{ url }}" title="See User Story #{{ ref }}: {{ subject }}">See user story</a>
    {% endtrans %}
{% endblock %}
