{% trans signature=sr("signature"), user=user.get_full_name(), url=resolve_front_url("project", project.slug), project=project.name %}
Hello {{ user }},

Your Jira project has been correctly imported.

You can see the project {{ project }} here:

{{ url }}

---
{{ signature }}
{% endtrans %}
