{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans signature=sr("signature"), user=user.get_full_name(), url=resolve_front_url("project", project.slug), project=project.name %}
    <h1>Jira Project imported</h1>
    <p>Hello {{ user }},</p>
    <h3>Your Jira project has been correctly imported.</h3>
    <a class="button" href="{{ url }}" title="Go to the project {{ project }}">Go to {{ project }}</a>
    <p><small>{{ signature }}</small></p>
    {% endtrans %}
{% endblock %}
