{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans signature=sr("signature"), user=user.get_full_name(), url=resolve_front_url("project", project.slug), project=project.name %}
    <h1>Trello Project imported</h1>
    <p>Hello {{ user }},</p>
    <h3>Your Trello project has been correctly imported.</h3>
    <a class="button" href="{{ url }}" title="Go to the project {{ project }}">Go to {{ project }}</a>
    <p><small>{{ signature }}</small></p>
    {% endtrans %}
{% endblock %}
