{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos INC
#}

{% trans signature=sr("signature"), full_name=feedback_entry.full_name, email=feedback_entry.email, comment=feedback_entry.comment %}---------
- From: {{ full_name }} <{{ email }}>
---------
- Comment:
{{ comment }}
---------{% endtrans %}
{% if extra %}
{{ _("- Extra info:") }}
{% for k, v in extra.items() %}
    - {{ k }}: {{ v }}
{% endfor %}
{% endif %}----------

{% trans signature=sr("signature") %}
---
{{ signature }}
{% endtrans %}
