{% trans full_name=feedback_entry.full_name, email=feedback_entry.email, comment=feedback_entry.comment %}---------
- From: {{ full_name }} <{{ email }}>
---------
- Comment:
{{ comment }}
---------{% endtrans %}
{% if extra %}
{{ _("- Extra info:") }}
{% for k, v in extra.items() %}
    - {{ k }}: {{ v }}
{% endfor %}
{% endif %}----------
