{% extends "emails/base.jinja" %}

{% block body %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="table-body">
    <tr>
        <td>
            <h1>{{ project.name }}</h1>
            <h2>Issue #{{ snapshot.ref }}: {{ snapshot.subject }}</h2>
            <p>Deleted by <b>{{ changer.get_full_name() }}</b></p>
        </td>
    </tr>
</table>
{% endblock %}
