{% extends "emails/updates-body-text.jinja" %}
{% block head %}
{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject, url=resolve_front_url("issue", project.slug, snapshot.ref) %}
Issue updated
Hello {{ user }}, {{ changer }} has updated an issue on {{ project }}
See issue #{{ ref }} {{ subject }} at {{ url }}
{% endtrans %}
{% endblock %}
