{% extends "emails/base.jinja" %}

{% set final_url = resolve_front_url("issue", project.slug, snapshot.ref) %}
{% set final_url_name = "Taiga - View issue #{0}".format(snapshot.ref) %}

{% block body %}
    <h1>New issue created</h1>
    <p>Hello {{ user.get_full_name() }},<br />{{ changer.get_full_name() }} has created a new issue on {{ project.name }}</p>
    <p>Issue #{{ snapshot.ref }} {{ snapshot.subject }}</p>
    <a class="button" href="{{ final_url }}" title="See #{{ snapshot.ref }} {{ snapshot.subject }}">See issue</a>
    <p><small>The Taiga Team</small></p>
{% endblock %}

{% block footer %}
    <em>Copyright © 2014 Taiga Agile, LLC, All rights reserved.</em>
    <br>
    <strong>Contact us:</strong>
    <br>
    <strong>Support:</strong>
    <a href="mailto:support@taiga.io" title="Taiga Support">support@taiga.io</a>
    <br>
    <strong>Our mailing address is:</strong>
    <a href="https://groups.google.com/forum/#!forum/taigaio" title="Taiga mailing list">https://groups.google.com/forum/#!forum/taigaio</a>
{% endblock %}
